body {
    display: block;
    margin: auto;
}

a {
    color: rgb(68, 17, 209)
}

header {
    font-size: 200%;
    background-color: rgb(145, 157, 226);
    text-align:center;
}

.contentWrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: slategray;
    padding: 10px 10px;
    color: black;
}

.gridWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(145, 157, 226);
    color: black;
}

.gridBoxThinRight {
    border-radius: 5px;
    padding: 5px 20px;
    grid-column:3;
    grid-row:2;
}

.gridBoxFatLeft {
    border-radius: 5px;
    padding: 5px 20px;
    grid-column:1/3;
    grid-row:2;
}

.navTitle {
    text-align:center;
}

.navItem {
    border: solid black 1px;
    list-style:none;
}

.contactForm {
    width:100%;
    text-align:center;
}

.contactItem {
    margin:5px;
    text-align:center;
}

.blogArticle {
    margin: 25px;
}

.CSSButton {
    background: #4411D1;
    padding: 5px;
    margin:auto;
    border: solid black 1px;
    text-align: center;
    width: 150px;
}

.buttonLink {
    color:black;
}

.flexList {
    display:flex;
    justify-content: center;
}

.centered {
    text-align:center;
    margin:auto;
}